# dependencies
node_modules/
.pnp
.pnp.js

# production
dist/
.output/

# testing
coverage/

# editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Astro
.astro/

# env
.env
.env.local
.env.*.local
